@import url('bootstrap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 0;
  align-items: center;

  a {
    color: black !important;
    font-size: 30PX;
  }
}