@import url('bootstrap');
@import url('bootstrap-icons');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 0;
  align-items: center;

  a {
    color: black !important;
    font-size: 30PX;
  }
}

main {

  .content {
    h1 {
      padding-left: 90px;
    }

    display: flex;
    align-items: center;
    min-height: 20vh;
    width: 100%;
    background-color: #1d1c1c;
    color: white
  }
}