@import url('bootstrap');
@import url('bootstrap-icons');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans"
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;

  a {
    color: black !important;
    font-size: 30PX;
    padding: 57px 15px !important;
  }

  a:hover {
    color: #0282f9 !important;
    border-bottom: solid 4px #0282f9 !important;
  }
}

main {

  z-index: 2;

  .content {
    h1 {
      font-size: 35px;
    }

    padding-left: 280px;
    display: flex;
    align-items: center;
    min-height: 15vh;
    width: 100%;
    background-color: #1d1c1c;
    color: white
  }

  .content_azzurro {
    padding: 2rem;
    background-color: #0282f9;
    min-height: 20vh;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 280px;

    img {
      width: 60px;
      padding-right: 1rem;


    }

    .locator {
      width: 50px;
    }

    a {
      text-decoration: none;
      color: white;
      padding-right: 3rem;
    }
  }
}

footer {
  .all {
    background-image: url(./img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 20vh;
    color: white;
    padding: 0 200px;
    display: flex;
    justify-content: space-between;

    img {
      z-index: 1;
    }
  }


  .up {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  ul {
    padding: 2rem;

    h3 {
      font-size: 22px;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  li {
    list-style: none;
    color: #909190;
    font-size: 18px;
  }

  .low {
    background-color: #303030;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    padding: 40px;

    button {
      padding: 8px;
      color: white;
      border-color: #0282f9;
      background-color: transparent
    }

    .social {
      a {
        padding: 8px;
      }

      .follow {
        color: #0282f9;
      }
    }
  }
}